$animateTime: 1s;
$animateTimeDelay: .5s;
$animateDelay: .3s;
$animateTimeWithDelay: 1.3s;

.header.header-animate,
.header.header-block.header-animate {
  .header_logo {
    animation: headerAnimateLogo $animateTime ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: $animateTimeDelay;
  }

  .header__wrap {
    animation: headerAnimate $animateTime ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: $animateDelay;
  }

  .header_title {
    animation: headerAnimateTitle $animateTime ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: $animateTimeDelay;
  }

  .header_menu-up_gameButton {
    animation: headerAnimateGameButton $animateTime ease-in-out;
    animation-fill-mode: forwards;
  }

  .header_menu {
    animation: headerAnimateMenu $animateTimeWithDelay ease-in-out;
    animation-fill-mode: forwards;
    display: flex;
    opacity: 0;
  }

  .header_menu-up {
    animation: headerAnimateMenuUp $animateTime ease-in-out;
    animation-fill-mode: forwards;
  }

  .header_menu__wrap {
    animation: headerAnimateMenuWrap $animateTime ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: $animateTimeDelay;
  }
}
//@-webkit-keyframes

@keyframes headerAnimateLogo {
  0% {

     }

  100% {
    max-width: 150px;
  }
}

@keyframes headerAnimate {
  30% {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    flex: none;
  }

  100% {
    height: 159px;
    flex-direction: inherit;
    flex-wrap: wrap;
    flex: none;
  }
}

@keyframes headerAnimateTitle {
  100% {
    font-size: 2.5rem;
  }
}

@keyframes headerAnimateMenu {
  0% {
    opacity: 0;
    position: absolute;
  }

  50% {
    opacity: 0;
    position: relative;
  }

  100% {
    opacity: 1;
  }
}

@keyframes headerAnimateGameButton {
  0% {
    opacity: 1;
    margin-left: calc(100% - 271px);
  }

  60% {
    opacity: 0;
  }


  80% {
    margin-left: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
}

@keyframes headerAnimateMenuUp {
  0% {
    justify-content: center;
  }

  100% {
    justify-content: center;
  }
}

@keyframes headerAnimateMenuWrap {
  0% {
    width: auto;
  }
  100% {
    width: auto;
  }
}